@import './shared-components.css';

.pause-menu-content.display-tab-group-active .graphics-settings-panel {
    height: auto;
}

.pause-menu-content.display-tab-group-active .graphics-settings-panel .settings-sections {
    overflow-y: visible;
    padding: 16px 0 20px;
}

.pause-menu-content.display-tab-group-active .camera-settings-panel {
    height: auto;
    overflow: visible;
    padding: 16px 0 20px;
    box-sizing: border-box;
}
